server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: service-user
          uri: http://service-user:80
          predicates:
            - Path=/users/**
